:root {
  --primary-color: #f0f0f0;
  --secondary-color: #f0f0f0;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #f0f0f0;
  --quinary-color: #f0f0f0;
}

main {
  background: none;
  padding: 0;
  margin: 0;
  max-height: 100vh;

  width: 100vw;
}

body {
  margin: 0;
  padding: 0;

}

section {
  padding: 0;
  margin: 0;
}

.page-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  overflow-x: hidden;
}

.background-video {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  z-index: -10;
  opacity: 0.3;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.nav-bar-container {
  position: fixed;
  top: 1;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99;
}

.nav-bar {
  margin: auto;
  width: fit-content;

  border-radius: 50px;
  padding: 10px;

  background: var(--glass-gradient);
  backdrop-filter: blur(5px);
  border: 1px double rgba(126, 124, 124, 0.28);

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: auto 3px;
  font-size: 22px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.76);

  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    rgb(5, 174, 253),
    rgba(43, 43, 43, 0.404),
    rgb(55, 219, 69)
  );
  background-position: left;
  background-size: 300%;
  transition: background-position 0.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-link:focus,
.nav-link:active {
  background-position: right;
}

.nav-link:active {
  scale: 0.9;
}

.btn-primary {
  display: none;
  margin: 0 auto;

  transition: transform 0.2s ease-in-out;
}

.btn-primary:hover {
  transform: translateY(-2px);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@media (min-width: 900px) {
  .nav-link {
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin: 5px auto;
  }

  .page-container {
    align-items: center;
  }
  .btn-primary {
  display: block;
  font-size: 20px;
}

  .nav-bar-container {
    position: fixed;
    left: 10px;
    top: 0;
    height: 100vh;
    width: fit-content;
  }

  .nav-link:hover {
    background-position: right;
    color: rgb(0, 0, 0);
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
    
  }
}
