:root {
  --primary-color: #f0f0f0;
  --secondary-color: #f0f0f0;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #f0f0f0;
  --quinary-color: #f0f0f0;
}

.page-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.nav-bar-container {
  position: fixed;
  top: 1;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nav-bar {
  margin: 0px auto;
  width: fit-content;

  border-radius: 50px;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.725);
  border: 1px solid rgba(126, 124, 124, 0.28);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-link {
  margin: auto 3px;
  font-size: 20px;
  padding: 5px;
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  background: linear-gradient(145deg, dodgerblue, orange);
  cursor: pointer;
  background-position: left;
  background-size: 300%;
  transition: background-position 1s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-link:focus,
.nav-link:active {
  background-position: right;
}

.nav-link:active {
  scale: 0.9;
}

.nav-link:hover {
  scale: 1.05;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}
