:root {
  --primary-color: #f0f0f0;
  --secondary-color: #f0f0f0;
  --tertiary-color: #f0f0f0;
  --quaternary-color: #f0f0f0;
  --quinary-color: #f0f0f0;
}

.page-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
  width: 100%;
}

.contact-box {
  display: flex;
  flex-direction: column;
}

.nav-bar-container {
  position: fixed;
  top: 1;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99;
}

.nav-bar {
  margin: 0px auto;
  width: fit-content;

  border-radius: 50px;
  padding: 10px;

  background-color: rgba(21, 203, 244, 0.182);
  border: 1px double rgba(126, 124, 124, 0.28);

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-link {
  margin: auto 3px;
  font-size: 20px;
  padding: 5px;
  color: white;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(45deg, dodgerblue, white, orange);
  background-position: left;
  background-size: 300%;
  transition: background-position 0.5s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.nav-link:focus,
.nav-link:active {
  background-position: right;
}

.nav-link:active {
  scale: 0.9;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@media (min-width: 600px) {
  .nav-link {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 5px auto;
  }

  .page-container {
    align-items: center;
  }

  .nav-bar-container {
    position: fixed;
    left: 10px;
    top: 0;
    height: 100%;
    width: fit-content;
  }

  .nav-link:hover {
    background-position: right;
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }
}
