@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--primary-bg);
  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  --glass-gradient: linear-gradient(
    45deg,
    rgba(197, 107, 17, 0.726),
    rgba(0, 0, 0, 0.5),
    rgba(25, 83, 145, 0.712)
  );
  --primary-text: rgb(0, 0, 0);
  --secondary-text: rgb(255, 251, 251);
  --primary-bg: rgb(48, 46, 46);
        background: url('./assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
    animation: bg-animation 10s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes bg-animation-alt {
  0% {
    background-position: bottom;
  }

  50% {
    background-position: top;
  }

  100% {
    background-position: bottom;
  }
}
