@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&family=Rajdhani:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  background-color: navy;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: url(./assets/images/background.png);
  background-position: left;

  background-size: cover;

  background-repeat: no-repeat;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-position 1s;
  box-sizing: border-box;
  animation: bg-animation 80s infinite;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: dodgerblue;
}

.btn,
.modal-links a {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 14px;
  background: linear-gradient(45deg, orange, white, dodgerblue);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'orbitron', sans-serif;
  background-position: left;
  background-size: 300%;
  transition: background-position 1s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.modal-links a:hover {
  background-position: right;
}

.btn:active,
.modal-links a:active {
  scale: 0.9;
}

.spacer {
  height: 50px;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

@keyframes bg-animation-alt {
  0% {
    background-position: bottom;
  }

  50% {
    background-position: top;
  }

  100% {
    background-position: bottom;
  }
}

@media (min-width: 900px) {
  :root {
    background-size: 400%;
    min-height: fit-content;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1500px) {
  :root {
    background-size: 450%;
  }
}
