.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;

}

.about-page-container {
  width: 90%;
  margin: auto;
}

.about-text p {
  font-family: 'aldich', sans-serif;
}

.about-text {
  font-size: 20px;
  color: white;
  text-align: center;
    background: var(--glass-gradient);
  backdrop-filter: blur(10px);
  border: 1px double rgba(126, 124, 124, 0.28);

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 15px;
  max-width: 90%;
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dev img {
  width: 100%;
  max-width: 300px;

  margin: auto;
  margin-top: -50px;
}

.about-container h2 {
  background: linear-gradient(45deg, rgb(0, 255, 0), white, dodgerblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
  margin: 15px auto;
  
  width: fit-content;
}

.para-1,
.para-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.about-1,
.about-2 {
  margin: auto;
  padding: 10px;
}

.para-1 img,
.para-2 img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  border-radius: 15px;
  margin: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.hobbies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-bottom: 25px;
}

.word {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
  width: 100%;
  font-size: 25px;
  font-family: 'aldrich', sans-serif;
}

.noTilt {
  width: 100%;
}

.tilt-left {
  width: 40%;
  color: green;
  transform: rotate(-20deg);
  padding: 10px;
}
.tilt-right {
  width: 40%;
  color: yellow;
  transform: rotate(10deg);
  padding: 10px;
}

.tiltUp-left {
  width: 40%;
  color: red;
  transform: rotate(20deg);
  padding: 10px;
}

.tiltUp-right {
  width: 40%;
  color: rgb(162, 0, 255);
  transform: rotate(-20deg);
  padding: 10px;
}

.about-picture {
  display: flex;
  justify-content: center;
}

.page-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.about-picture img, .headshot {
  border-radius: 50%;
  margin: auto;
  max-width: 200px;
  max-height: 200px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(24, 23, 23, 0.7);

  text-align: center;
  opacity: 0.7;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media (min-width: 600px) {
  .tilt-left,
  .tilt-right,
  .tiltUp-left,
  .tiltUp-right,
  .noTilt {
    font-size: 40px;
  }
}

@media (min-width: 700px) {
  .about-text p {
    font-size: 25px;
  }
}

@media (min-width: 950px) {
  .para-1,
  .para-2 {
    flex-direction: row;
  }

  .dev img {
    height: 450px;
    margin: auto;
  }

  
}

@media (min-width: 1500px) {
  .dev img {
    height: 100%;
    max-height: 600px;
    max-width: 450px;
  }
}
