.contact-form-container {
  display: flex;
  flex-direction: row;
}

.dev-card {
  width: 300px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-box {
  padding-top: 60px;
}

.dev-card img {
  width: 160px;
  border-radius: 50%;

  margin: 5px auto;
}

.dev-name {
  font-size: 25px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.923);

  margin: 5px;
}

.dev-codename {
  font-size: 22px;
  font-weight: bold;
  color: orange;
  margin: 0px 10px;
  font-family: 'pixelify sans', sans-serif;
}

.dev-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dev-top img {
  max-width: 40%;
}

.dev-name-block {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 60%;
  justify-content: center;
}

.small-para {
  font-size: 18px;
  color: white;
  margin: 20px auto;
}

.small-para span {
  font-style: italic;

  margin: auto;
}

.dev-overlay {
  background-color: rgba(21, 203, 244, 0.182);
  border: 1px double rgba(126, 124, 124, 0.28);

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 15px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  background-color: rgba(21, 214, 244, 0.182);
  border: 1px double rgba(126, 124, 124, 0.28);

  padding: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid orange;
  padding: 10px;
  width: 80%;
  justify-self: center;
  margin: 10px auto;
  font-size: 15px;
  font-family: 'orbitron', sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: none;
  border-bottom: 1px solid dodgerblue;
  outline: none;
}

.contact-form textarea {
  height: 100px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: rgba(255, 255, 255, 0.816);
  font-size: 16px;
}

@media (min-width: 600px) {
  .contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }

  .dev-card {
    height: 400px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .dev-overlay {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
  }

  .contact-form {
    width: 400px;
    margin: auto;
    height: 500px;
  }

  .small-para {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }

  .contact-box {
    height: 600px;
  }
}
