.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100vh;

  width: 100%;
}

.home-page {
  width: 80%;
  margin: auto;
}

/* .home-page img {
  display: none;
  max-height: 200px;
  margin: auto;
  margin-top: 20px;
} */

.picture-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(255, 255, 255, 0.164) double 1px;
  border-radius: 20px;
  background: var(--glass-gradient);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: auto;
  backdrop-filter: blur(3px);
  
}

.home-name {
  font-size: 30px;
  color: rgb(72, 255, 0);
  margin: auto;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}

.home-title {
  width: 50%;
  height: auto;
  margin: auto;
  animation: cubic-bezier(0.6, 0.04, 0.98, 0.335) pulse 2s infinite;
  animation-timing-function: ease-in-out;
}

.intro-nickname {
  position: fixed;
  bottom: 0;

  font-size: 18px;
  text-align: center;
  font-family: 'Pixelify Sans', sans-serif;

  font-optical-sizing: auto;
  background: linear-gradient(45deg, rgb(0, 255, 0), white, dodgerblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 5px 10px;
}

.intro-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.intro-desc {
  font-size: 18px;
  color: #fffdfdc9;
}

.intro-type {
  font-size: 24px;
  color: white;
}

.intro-text {
  font-size: 22px;
  color: white;
}

.intro-paragraph {
  text-align: center;
  font-family: 'aldrich', sans-serif;
}

.intro-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.intro-btn1 {
  display: none;
}

.intro-btns img {
  width: 150px;
  height: 150px;
  margin: auto;
  animation: blink 1s infinite;
  animation-timing-function: ease-in-out;
}

.intro-btn1:hover {
  scale: 1.1;
}

.intro-btn1:active {
  scale: 0.9;
}

.social {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: fit-content;
  background: var(--glass-gradient);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 50px;
  margin: 10px auto;
}

.social a {
  margin: auto 10px;
  margin-top: 5px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.social a:hover {
  color: rgb(72, 255, 0);
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1.4);
  }
  25% {
    transform: rotate(15deg) scale(1.8);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: rotate(15deg) scale(1.8);
  }

  100% {
    transform: scale(1.4);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 950px) {
  .social {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: fit-content;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 50px;
    margin-right: 45px;
  }

  .social a {
    margin: auto 10px;
    margin-top: 5px;
    font-size: 35px;
    color: rgb(255, 255, 255);
  }

  .social a:hover {
    color: rgb(60, 255, 0);
  }

  .home-page {
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
  }

  /* .home-page img {
    display: block;
    max-height: 200px;
    animation: grow-and-shrink 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: auto;
    margin-top: 0px;
  } */

  .intro-paragraph {
    font-size: 20px;
  }

  .home-intro {
    margin-right: 80px;
    margin-top: -100px;
  }

  .intro-nickname {
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;

    font-optical-sizing: auto;
    background: linear-gradient(45deg, rgb(72, 255, 0), white, dodgerblue);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 35px;
  }

  .intro-desc {
    font-size: 30px;
  }

  .intro-type {
    font-size: 30px;
  }

  .intro-text {
    font-size: 30px;
  }

  .intro-btn1 {
    display: block;
    scale: 2;
    margin: auto 10px;
  }

  .intro-btn1:hover {
    scale: 2.1;
  }

  .intro-btn1:active {
    scale: 1.9;
  }

  .intro-btns img {
    width: 105px;
    height: auto;
    margin: auto;
  }

  .home-name {
    font-size: 50px;
 
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
  }

  .intro-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
