.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  width: 100%;
}

.home-page {
  width: 80%;
}

.home-page img {
  display: none;
  max-height: 200px;
  margin: auto;
  margin-top: 20px;
}

.picture-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-intro {
  display: flex;
  flex-direction: column;
}

.home-name {
  font-size: 45px;
  color: orange;
  margin-bottom: 0px;
}

.intro-nickname {
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  background: linear-gradient(45deg, orange, white, dodgerblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 5px 10px;
  border-radius: 15px;
}

.intro-desc {
  font-size: 26px;
  color: #fffdfdc9;
}

.intro-type {
  font-size: 24px;
  color: white;
}

.intro-text {
  font-size: 22px;
  color: white;
}

.intro-paragraph {
  text-align: center;
}

.intro-btn1,
.intro-btn2 {
  margin: 10px;
  padding: 10px 20px;
  font-size: 14px;
  background: linear-gradient(
    45deg,
    rgb(255, 166, 0),
    rgba(255, 255, 255, 0.55),
    rgb(30, 143, 255)
  );
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  max-width: 40%;
  font-family: 'orbitron', sans-serif;
  background-position: left;
  background-size: 300%;
  transition: background-position 1s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.intro-btn2:hover,
.intro-btn1:hover {
  background-position: right;
}

.intro-btn2:active,
.intro-btn1:active {
  scale: 0.9;
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(1.4);
  }
  25% {
    transform: rotate(15deg) scale(1.8);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: rotate(15deg) scale(1.8);
  }

  100% {
    transform: scale(1.4);
  }
}

@media (min-width: 600px) {
  .home-page {
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 25px;
  }

  .home-page img {
    display: block;
    max-height: 300px;
    animation: grow-and-shrink 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin: auto;
    margin-top: 0px;
  }

  .home-intro {
    margin-right: 80px;
    margin-top: -100px;
  }

  .home-name {
    font-size: 80px;
  }

  .intro-nickname {
    font-size: 70px;
  }

  .intro-desc {
    font-size: 30px;
  }

  .intro-type {
    font-size: 30px;
  }

  .intro-text {
    font-size: 30px;
  }

  .intro-btn1,
  .intro-btn2 {
    font-size: 20px;
    max-width: 100%;
  }

  .intro-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
