.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
height: 100vh;
  margin: auto;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  margin: 50px auto;
  width: 250px;
  height: 250px;
  max-height: 80vh;
  margin-bottom: 50px;
  overflow: auto;

  transform: rotate(45deg);
}

.project-box {
  overflow: hidden;
  width: 249px;
  height: 249px;
  position: relative;

  text-align: center;
  margin: 10px 10px;
  border: 1px double gray;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: scale 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-title {
  -webkit-text-stroke: 1px solid white;
}

.project-box img {
  width: 160%;
  height: 180%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  margin-top: -100px;
  margin-left: -50px;
}

.project-img {
  background-color: rgba(0, 0, 0, 0.769);
}

.project-card {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  margin: auto;
  margin-left: -5px;
  margin-top: 20px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: none;
  transition: opacity 0.5s;
  width: 200%;
  height: 200%;
}

.project-card:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.project-box:hover {
  scale: 1.05;
}

.title-row {
  width: 80%;
  text-align: center;
  margin: 0px auto;
  margin-left: 55px;

  color: orange;
}

.subtitle-row {
  width: 100%;

  margin-left: 15px;

  text-wrap: wrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.618);
}

.scroll-pictures {
    background: linear-gradient(45deg, rgb(1, 26, 255), rgb(48, 45, 45), rgb(223, 147, 6));
  color: white;
}

.scroll-pictures:active {
  opacity: 0.8;
}

.openModal {
  display: flex;
  color: dodgerblue;

  justify-content: flex-end;
  border: none;
  background: transparent;
  margin: auto;
  width: 60%;
  align-items: center;
  z-index: 3;
  cursor: pointer;
}

.project-card a {
  text-decoration: none;
}

.icon {
  font-size: 35px;
  color: rgba(30, 143, 255, 0.743);
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.project-page h2 {
  background: linear-gradient(45deg, orange, white, dodgerblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
  margin: 15px auto;
}

.project-overlay {
  display: none;
}

.subtitle-link {
  font-family: 'aldrich', sans-serif;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  :root {
    background-size: 600%;
  }

  .scroll-pictures {
    display: none;
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    margin: 50px auto;
    width: 500px;
    height: 440px;
    max-height: 80vh;
    margin-bottom: 50px;
    overflow: auto;

    transform: rotate(45deg);
  }

  .project-box {
    overflow: hidden;
    width: 200px;
    height: 200px;
    position: relative;

    text-align: center;
    margin: 10px 10px;
    border: 1px double gray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: scale 0.5s;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .project-box img {
    width: 160%;
    height: 200%;
  }
}

@media (min-width: 974px) {
  .project-page {
    margin-left: 100px;
   
    height: 100vh;
  }
}

@media (min-width: 977px) {
  :root {
    background-size: 500%;
  }
}

@media (min-width: 1000px) {
  :root {
    background-size: 500%;
  }

  .project-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    background-color: transparent;
    z-index: -1;
  }

  .scroll-title-tilt {
    position: absolute;
    top: 2%;
    left: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: auto;
    margin: 50px auto;
    width: 500px;
    height: 440px;
    max-height: 80vh;
    margin-bottom: 50px;
    overflow: auto;
    font-size: 25px;
    transform: rotate(45deg);
  }
}
