.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 75px;
}

.projects {
  width: 80%;
  height: calc(100vh - 150px);
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.project-box {
  max-width: 225px;
  max-height: 225px;
  margin: 10px 10px;
  display: flex;

  justify-content: center;
  align-items: center;
  border: 1px solid rgba(30, 143, 255, 0.743);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(30, 143, 255, 0.743);
  overflow: hidden;
  cursor: pointer;
  padding: 0;
}

.modal-image {
  width: 40%;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.project-box:hover {
  animation: pulse 1.5s infinite;
}

.project-box a {
}

.project-box img {
  min-width: 100%;

  min-height: 100%;

  margin: auto;
}

.icon {
  font-size: 35px;
  color: rgba(30, 143, 255, 0.743);
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background: rgba(0, 0, 0, 0.904); */
}

.project-page h2 {
  background: linear-gradient(45deg, orange, white, dodgerblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
  margin: 15px auto;

  width: fit-content;
}

.project-overlay {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  display: flex;
  border-radius: 8px;

  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.97);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-image img {
  width: 100%;

  border-radius: 8px;
  margin: auto;
  border: 1px solid rgba(30, 143, 255, 0.743);
  box-shadow: 0 0 10px rgba(30, 143, 255, 0.743);
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

/* .modal-links a {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-decoration: none;
  border: 1px dotted rgba(30, 143, 255, 0.543);
  border-radius: 5px;
  background-color: rgb(255, 165, 30);
  box-shadow: 0 0 10px rgba(30, 143, 255, 0.743);
}

.modal-links a:hover {
  background-color: dodgerblue;

  transition: 0.1s ease-in;
}

.modal-links a:active {
  scale: 0.9;
  transition: 0.1s ease-in;
} */

.close-button {
  position: fixed;

  top: 0;
  right: 0;
  font-size: 50px;
  color: white;

  cursor: pointer;
  background-color: transparent;
  border: none;
}

.close-button:hover {
  color: red;
}

.close-button:active {
  scale: 0.9;
}

.modal-content h2 {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

.modal-text {
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  color: white;

  width: 60%;
}

.modal-text p {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.modal-text h3 {
  font-size: 15px;
  text-align: center;
  margin: auto;
  font-style: italic;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .project-page {
    margin-top: 100px;
  }

  .projects {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .modal-content a {
    display: fixed;
    bottom: 0;
    left: 0;
  }

  .modal-content {
    flex-direction: column;
    padding: 20px;
  }

  .project-overlay {
    position: sticky;
  }

  .modal-text {
    width: 90%;

    margin-top: 25px;

    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-text h3 {
    font-size: 18px;
    text-align: center;
  }

  .modal-image {
    width: 90%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modal-links {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 900px) {
  :root {
    background-size: 600%;
  }
}

@media (min-width: 1000px) {
  :root {
  }
}
