.skill h3 {
  font-size: 20px;
}

.resume-title {
  background: linear-gradient(45deg, orange, white, dodgerblue);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
  margin: auto;
  margin-top: 35px;
  text-align: center;
}

.btn-resume {
  margin: 0px !important;
}

.skill p {
  font-size: 20px;
}

.skills {
  width: 80%;
  height: fit-content;
  margin-left: 35px;
  margin-top: 20px;
}

.resume-icon {
  animation: rock-back 5s linear infinite;
  opacity: 0.8;
}

.resume-icon-alt {
  opacity: 0.8;
  animation: rock-back-reverse 5s linear infinite;
}

.resume-icon,
.resume-icon-alt {
  width: 100px;
  margin: 30px auto;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.skill-bar {
  width: 100%;
}

.skill-level {
  background-color: orange;
  height: 10px;
}

.graphic-box {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rock-back {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rock-back-reverse {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 680px) {
  .skills {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .skill-list {
    width: 50%;
  }
  .graphic-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    width: 40%;
    height: fit-content;
    min-height: 100%;
    margin-left: 50px;
  }
  .btn-resume {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    margin: 80px auto;
  }

  .services {
  }
}
