.weather {
  display: none;
}

@media (min-width: 1000px) {
  .weather {
    width: 100%;
    background: linear-gradient(135deg, #0098feac, rgba(20, 10, 116, 0.753));
    backdrop-filter: blur(2px);
    position: absolute;
    color: #fff;
    margin: auto;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    text-align: center;
    border: 2px double rgba(0, 195, 255, 0.705);
    overflow: hidden;
    box-shadow:
      5px 5px 20px 0 rgba(87, 85, 85, 0.705),
      10px 10px 30px 0 rgba(16, 16, 16, 0.705);
    height: 300px;
    width: 300px;

    z-index: 99;
  }

  .weather:hover {
    cursor: grab;
  }

  .weather:active {
    cursor: grabbing;
    filter: none;
  }

  .weather {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    background-image: url(../images/weather/weatherback.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
  }

  .spy {
    height: 25px;
    border-radius: 50%;
    padding: 0px;
  }

  .search button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid blue;
    outline: 0;
    cursor: pointer;
    margin-left: 15px;
    background: rgb(193, 242, 255);
  }

  .search input {
    border: 0;
    outline: 0;
    color: #555;
    padding: 5px 10px;
    border-radius: 30px;
    flex: 1;
    width: 80%;
    height: 40px;
    font-size: 20px;
    color: dodgerblue;
    background: rgb(193, 242, 255);
    border: 2px solid blue;
  }

  .search input::placeholder {
    color: dodgerblue;
    font-size: 20px;
  }

  .search {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 25px;
    margin: auto;
  }

  .weather-icon {
    margin: auto;
    margin-top: 130px;
    max-width: 120px;
    margin-bottom: -50px;
  }

  .weather-box input {
    display: flex;
    margin: auto;
    text-align: center;
  }

  .weather h1 {
    font-size: 50px;
    color: orange;
    font-family: 'rajdhani';
    margin: auto;
    text-shadow: 10px 10px 10px black;
  }

  .col p {
    text-align: center;
    font-family: 'rajdhani';
  }

  .weather h2 {
    font-size: 30px;
    filter: opacity(0.9);
    margin: auto;
    margin-bottom: 10px;
    color: orange;
  }

  .city {
    width: 50%;
  }

  .city h2 {
    font-size: medium;
    color: yellow;
  }

  .temp {
    width: 50%;
    margin: auto 15px;
  }

  .world {
    color: blue;
    font-size: 150px;
  }

  .error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
  }

  .hide {
    display: none;
  }
}
